.item {
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px 70px 10px 10px;
  white-space: nowrap;
  position: relative;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: .3s; }
  .item:hover {
    background: rgba(255, 255, 255, 0.3); }
    .item:hover button:before, .item:hover button:after {
      opacity: 1; }
    .item:hover button:before {
      transform: rotate(45deg); }
    .item:hover button:after {
      transform: rotate(-45deg); }
  .item button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    width: 50px;
    height: 100%;
    border: none;
    font-size: 20px;
    padding: 0;
    text-indent: -99999px;
    display: block; }
    .item button:before, .item button:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      margin: -2px 0 0 -10px;
      background: #ffffff;
      content: '';
      transform-origin: 50% 50%;
      box-sizing: border-box;
      opacity: 0;
      transform: none;
      transition: .3s; }
